.idea/
**/.idea/
*.iml
.gradle
/local.properties
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/settings
/app/release
.failed
.last_rev_parse
/desktop/photos
/desktop/safe.db
/desktop/safe.db-shm
/desktop/safe.db-wal
/desktop/safe.db.lck
/desktop/safe_db.json
/desktop/tpm_keys.txt
/app/google-services.json
/desktop/exported_backup.xml
