*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/deviceManager.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/settings
/app/release
.kotlin
/temp
/app/*/build
/app/.idea
/in
.failed
.last_rev_parse
/desktop/build
/desktop/photos
/desktop/safe.db
/desktop/safe.db-shm
/desktop/safe.db-wal
/desktop/safe.db.lck
/desktop/safe_db.json
/shared-ui/build
desktop/tpm_keys.txt
