<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <application>
        <activity
            android:name=".SelectDocumentAndBeginRestoreActivity"
            android:exported="false"
            android:label="@string/title_activity_restore_screen" />
    </application>
    <dist:module
        dist:instant="false"
        dist:title="@string/title_oisafeimport">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>