<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- Make sure google analytics ad id doesn't creep back up ever -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".SafeApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher_safe"
        android:label="@string/application_name"
        android:theme="@style/Theme.Safe"
        tools:targetApi="s">
        <!-- Keep this AppCompat theme, helps with buggy window title coloring -->
        <activity
            android:name=".ui.activities.BiometricsActivity"
            android:exported="false"
            android:theme="@style/Theme.Safe.AppCompat" />
        <activity
            android:name=".ui.activities.CategoryListScreen"
            android:exported="false"
            android:label="@string/title_activity_category_screen" />
        <activity
            android:name=".ui.activities.HelpScreen"
            android:exported="false"
            android:label="@string/title_activity_help_screen" />
        <activity
            android:name=".ui.activities.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PreferenceActivity"
            android:exported="false"
            android:theme="@style/Theme.Safe.AppCompat" />
        <activity
            android:name=".ui.activities.SiteEntryEditScreen"
            android:exported="false"
            android:label="@string/title_activity_password_entry_screen" />
        <activity
            android:name=".ui.activities.SiteEntryListScreen"
            android:exported="false"
            android:label="@string/title_activity_password_screen" />
        <activity
            android:name=".ui.activities.SiteEntrySearchScreen"
            android:exported="false"
            android:label="@string/title_activity_password_search_screen"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.activities.PrepareDataBaseRestorationScreen"
            android:exported="false"
            android:label="@string/title_activity_restore_screen" />

        <service
            android:name=".service.AutolockingService"
            android:enabled="true" />
    </application>

</manifest>