<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- TODO: android:theme="@style/Theme.Safe.AppCompat" -->
        <activity
            android:name="fi.iki.ede.gpmui.activities.ImportNewGpmsScreen"
            android:exported="false" />
        <activity
            android:name="fi.iki.ede.gpmui.activities.AllowUserToMatchAndMergeImportedGpmsAndSiteEntriesScreen"
            android:exported="false" />
    </application>
</manifest>